* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Handlee', 'Montserrat', 'open sans' ;
}

body {
    background: #302020;
}

.container {
    width: 100%;
    height: 50vh;
    color: #fff;
    display: flex;
    justify-content: center;
}

.container h1 {
    font-size: 2.25em;
    margin: 0;
}

.container .line-height {
    line-height: 2.7rem;
}

span {
    color: #bd8f86;
}

.dynamic-txt {
    font-size: 2.25em;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #302020;
}

.know {
    width: auto;
}

@media screen and (min-width: 576px) {
    .container h1 {
        font-size: 4em;
    }

    .dynamic-txt {
        font-size: 4em;
    }

    .container .line-height {
        line-height: 4.8rem;
    }
}

@media screen and (min-width: 992px) {
    .know {
        width: 50%;
        justify-content: end;
    }
}

@media screen and (min-width: 1200px) {
    .container h1 {
        font-size: 4em;
    }

    .dynamic-txt {
        font-size: 4em;
    }

    .container .line-height {
        line-height: 4.8rem;
    }
}